<div class="container" id="login">
    <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

            <label for="firstName">
                First Name:
                <input type="text" formControlName="firstName">
            </label>
            <div *ngIf="loginForm.get('firstName').invalid && (loginForm.get('firstName').dirty || loginForm.get('firstName').touched)">First Name Required</div>
            <br>

            <label for="lastName">
                Last Name:
                <input type="text" formControlName="lastName" required>
            </label><div *ngIf="loginForm.get('lastName').invalid && (loginForm.get('lastName').dirty || loginForm.get('lastName').touched)">Last Name Required</div>
            <br>

            <label for="email">
                Email:
                <input type="text" formControlName="email" required>
            </label><div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">Valid Email Required</div>
            <br>

            <label for="birthYear">
                Birth Year:
                <input type="number" formControlName="birthYear" required>
            </label><div *ngIf="loginForm.get('birthYear').invalid && (loginForm.get('birthYear').dirty || loginForm.get('birthYear').touched)">Must be over 21</div>
            <br>
            
            <button 
            class="btn btn-light" 
            type="submit"
            [disabled]="!loginForm.valid">Submit</button>
        </form>
    </div>
</div>
