#results {
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
li {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
}

button, a {
    align-self: flex-end;
}